<div class="footer-wrapper">
  <a class="nav-link" routerLink="/home" routerLinkActive="active">
    <i class="fa fa-home nav-icon" aria-hidden="true"></i>
    <div class="nav-text">Home</div>
  </a>
  <a class="nav-link" routerLink="/contacts" routerLinkActive="active">
    <i class="fa fa-address-book-o nav-icon" aria-hidden="true"></i>
    <div class="nav-text">Contacts</div>
  </a>
  <a class="nav-link" routerLink="/client" routerLinkActive="active">
    <i class="fa fa-user-o nav-icon" aria-hidden="true"></i>
    <div class="nav-text">Client</div>
  </a>
</div>

<div class="footer-buffer"></div>
