@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.footer-wrapper {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  @include color-fallback(color, --light, $light);
  @include color-fallback(background-color, --primary, $primary);
  justify-content: center;
  padding: 0 20px;
  z-index: 100;
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: $light;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  flex: 1 1 33%;

  &.active {
    @include color-fallback(background-color, --dark, $dark);
  }

  .nav-icon {
    font-size: 1.1rem;
  }

  .nav-text {
    font-size: 0.85rem;
    line-height: 1;
    margin-top: 4px;
  }
}

.footer-buffer {
  height: 60px;
}
