<app-header [settings]="true">Client Info</app-header>

<div *ngIf="!contactData" class="card-body text-center text-muted">
  <div class="mb-20 card-body text-muted">
    No contact selected.<br>
    Please select a contact before proceeding.<br>
  </div>
  <a class="btn btn-primary" routerLink="/contacts">Go to Contacts</a>
</div>

<ng-container *ngIf="contactData">
  <div class="card">
    <div class="card-title">Overview</div>
    <div class="card-body text-center">
      <ng-container *ngIf="!contactLoading">
        <div class="py-2">
          <div class="h2" style="line-height: 1.3;">{{ (contactData?.netWorth / 1000000000) | currency }} B</div>
          <div class="text-muted mb-1">Net worth</div>
          <h1 class="h2 text-truncate">{{ contactData?.lastName }}, {{ contactData?.firstName }}</h1>
          <div class="text-muted">{{ contactData?.type }}</div>
        </div>
      </ng-container>
      <ng-container *ngIf="contactLoading">
        <div>
          <div class="skeleton mx-auto w-25 mb-10"></div>
          <div class="skeleton mx-auto w-50"></div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-title">Notes</div>
    <app-notes [tags]="tagsData" [isLoading]="notesLoading" [notes]="notesData" [error]="notesError"
      (selectNote)="onSelectNote($event)">
    </app-notes>
  </div>
</ng-container>

<a *ngIf="contactData" class="btn btn-float btn-primary" routerLink="/note">
  <svg xmlns="http://www.w3.org/2000/svg" class="add-note-icon" viewBox="0 0 512 512" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" d="M256 112v288M400 256H112"></path>
  </svg>
</a>
