<h1>
  <ng-content></ng-content>
</h1>
<a *ngIf="back" va-command="go back,cancel,discard" va-command-reply="Navigating to previous page."
  class="btn-header btn-left" aria-label="back" href="javascript:void(0)" (click)="goBack()">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
</a>
<a *ngIf="cancel" va-command="cancel,discard" va-command-reply="Discarding changes and navigating to previous page."
  class="btn-header btn-left" href="javascript:void(0)" (click)="goBack()">
  Cancel
</a>
<a *ngIf="settings" class="btn-header btn-right" routerLink="/settings" aria-label="settings">
  <i class="icon fa fa-cog" aria-hidden="true"></i>
</a>
<a *ngIf="edit" [attr.va-command]="editCommand" class="btn-header btn-right" [routerLink]="['edit']">
  Edit
</a>
<a *ngIf="save" [attr.va-command]="saveCommand" class="btn-header btn-right" href="javascript:void(0)"
  (click)="onSaveClick()">
  Save
</a>
