<app-header [back]="true">Settings</app-header>

<div class="card">
  <div class="card-title">App Settings</div>
  <div class="list-item card-body">
    <div class="list-group">
      <div class="text-small user-select-none">
        Voice Assistant
      </div>
      <div class="switch">
        <input type="checkbox" id="voiceSwitch" [checked]="voiceAssistantActive" [disabled]="!voiceAssistantSupported"
          (click)="onVoiceAssistantToggle()" /><label for="voiceSwitch">Toggle voice assistant</label>
      </div>
    </div>
    <small *ngIf="!voiceAssistantSupported" class="text-danger">
      Voice Assistant is not supported in your browser/platform. For the best performance use Google Chrome.
    </small>
  </div>
  <div class="list-item card-body">
    <div class="list-group">
      <div class="text-small user-select-none">
        Always Dark Mode
      </div>
      <div class="switch">
        <input type="checkbox" id="darkSwitch" [checked]="forceDarkTheme" [disabled]="!supportDarkTheme"
          (click)="onDarkThemeToggle()" /><label for="darkSwitch">Toggle dark theme</label>
      </div>
    </div>
    <small *ngIf="!voiceAssistantSupported" class="text-danger">
      Dark Mode is not supported in your browser/platform. For the best performance use Google Chrome.
    </small>
  </div>
</div>

<div class="card">
  <div class="card-title">Voice assistant commands</div>
  <div class="card-body text-small">
    <p>Here are some commands which can be used to navigate between the pages:</p>
    <ul>
      <li>Go to home</li>
      <li>Go to contact page</li>
      <li>Navigate to client page</li>
      <li>Create note</li>
      <li>Create a note</li>
      <li>Discard (For going to the previous page)</li>
      <li>Cancel (For going to the previous page)</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-title">Disclaimer</div>
  <div class="card-body text-small">
    <p>This application is created for learning and demo purpose.</p>
    <p>The source code suggests best practices which should be followed while developing an Angular application and is
      mainly designed targeting mobile platforms (like Android/iOS).</p>
    <p>It doesn't use any server-side API for fetching or saving data. It uses some static JSON files for retrieving
      data and uses IndexedDB for saving data.</p>
    <p>Under the hood, this application uses NgRx for state management and webkitSpeechRecognition for voice navigation.
    </p>
    <p>Some of its features may only work properly on Google Chrome (yet a few features may not work for iOS even with
      Google Chrome)</p>
    <p>
      Thanks,<br>
      <a class="link" href="https://github.com/anirbannath/mobile-demo" target="_blank" aria-label="github repository">
        <i class="fa fa-github" aria-hidden="true"></i> anirbannath
      </a>
    </p>
  </div>
</div>
