<ng-container *ngIf="!isLoading">
  <div *ngIf="notes?.length <= 0" class="card-body text-center text-muted">
    {{ error || 'No records to show.' }}
  </div>
  <div *ngIf="!error && notes?.length > 0">
    <a *ngFor="let note of notes" class="card-body list-item" (click)="onSelectNote(note.id)">
      <div class="text-primary text-truncate">{{ note?.title }}</div>
      <div class="text-clamp text-small">{{ note?.description }}</div>
      <div *ngIf="note?.meeting" class="text-muted text-truncate text-small">
        <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
        {{ note?.meeting | date: 'EEEE, MMM d, y, h:mm a' }}
      </div>
      <div *ngIf="tags && note?.tags?.length > 0" class="mt-1 tag-container">
        <div *ngFor="let tag of note?.tags" class="tag mr-2 mb-2">{{tags[tag]?.name}}</div>
      </div>
    </a>
  </div>
</ng-container>
<div *ngIf="isLoading">
  <div *ngFor="let loader of loaders" class="card-body list-item">
    <div class="skeleton w-50"></div>
    <div class="skeleton w-75"></div>
    <div class="skeleton w-35"></div>
  </div>
</div>
