// DEFAULT THEME VARIABLES

$body: #fff;
$default: #222;
$primary: #3672bd;
$primary-bright: #0064cf;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #946f00;
$danger: #f64e60;
$light: #f8f9fa;
$dark: #313338;
$card-title: #e6edf3;
$border: #cccdce;
$skeleton: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
$dialog: #fff;
$toast: #b2b3b4;

// END OF DEFAULT THEME VARIABLES

// ------------------------------

// DARK THEME VARIABLES

$dark-body: #242729;
$dark-default: #ddd;
$dark-primary: #094169;
$dark-primary-bright: #5585ff;
$dark-secondary: #9099a1;
$dark-success: #28a745;
$dark-info: #17a2b8;
$dark-warning: #ffbf00;
$dark-danger: #f64e60;
$dark-light: #f8f9fa;
$dark-dark: #0a1120;
$dark-card-title: #111417;
$dark-border: #333;
$dark-skeleton: linear-gradient(to right, #505050 4%, #262525 25%, #505050 36%);
$dark-dialog:#424242;
$dark-toast: #595959;

// END OF DARK THEME VARIABLES
