<app-header [settings]="true">My Home</app-header>

<div>
  <div class="card">
    <div class="card-title">Recent Stats</div>
    <div class="card-body py-4" va-article="summary" va-question="Should I go through your routine for the day?"
      va-speak="Here's what your day looks like. You have ">
      <div class="row">
        <div class="col-6 mb-3">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-info mr-3">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <div>
              <div class="h6">2</div>
              <small class="text-muted">Meetings <span class="sr-only">scheduled, </span></small>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-danger mr-3">
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <div>
              <div class="h6">3</div>
              <small class="text-muted">Tasks <span class="sr-only">due, </span></small>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-success mr-3">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>
            <div>
              <div class="h6">7</div>
              <small class="text-muted">
                <span class="sr-only">unread </span>Notes <span class="sr-only">and </span></small>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-primary mr-3">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
            </div>
            <div>
              <div class="h6">2</div>
              <small class="text-muted">Messages<span class="sr-only">.</span></small>
            </div>
          </div>
        </div>

        <div class="sr-only">Your next meeting for the day is scheduled at 9 a.m.</div>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-title">Notes</div>
    <ng-container *ngIf="!notesLoading">
      <div *ngIf="notesData?.length <= 0" class="card-body text-center text-muted">
        {{ notesError || 'No records to show.' }}
      </div>
      <div *ngIf="!notesError && notesData?.length > 0">
        <a *ngFor="let note of notesData" class="card-body list-item" (click)="onSelectNote(note.id)">
          <div class="text-primary text-truncate">{{ note?.title }}</div>
          <div class="text-clamp text-small">{{ note?.description }}</div>
          <div class="text-muted text-truncate text-small">{{ note?.occurredOn | date: 'EEEE, MMM d, y, h:mm a' }}</div>
        </a>
      </div>
    </ng-container>
    <div *ngIf="notesLoading">
      <div *ngFor="let loader of loaders" class="card-body list-item">
        <div class="skeleton w-50"></div>
        <div class="skeleton w-75"></div>
        <div class="skeleton w-35"></div>
      </div>
    </div>
  </div>
</div>
