<app-header [settings]="true">My Home</app-header>

<div>
  <div class="card">
    <div class="card-title">Overview</div>
    <div class="card-body text-center">
      <ng-container *ngIf="!userLoading">
        <div>
          <div class="h5 text-muted">Welcome</div>
          <h1 class="h4 text-truncate">{{ userData?.lastName }}, {{ userData?.firstName }}</h1>
        </div>
        <hr>
        <div>
          <div class="h4">{{ userData?.profit | currency }}</div>
          <div class="text-muted">Net Profit</div>
          <div>Last updated: {{ today | date }}</div>
        </div>
      </ng-container>
      <ng-container *ngIf="userLoading">
        <div>
          <div class="skeleton mx-auto w-25 mb-10"></div>
          <div class="skeleton mx-auto w-50"></div>
        </div>
        <hr>
        <div>
          <div class="skeleton mx-auto w-50 mb-10"></div>
          <div class="skeleton mx-auto w-25 mb-10"></div>
          <div class="skeleton mx-auto w-35"></div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-title">Notes</div>
    <ng-container *ngIf="!notesLoading">
      <div *ngIf="notesData?.length <= 0" class="card-body text-center text-muted">
        {{ notesError || 'No records to show.' }}
      </div>
      <div *ngIf="!notesError && notesData?.length > 0">
        <div *ngFor="let note of notesData" class="card-body list-item">
          <div class="text-primary text-truncate">{{ note?.title }}</div>
          <div class="text-clamp text-small">{{ note?.description }}</div>
          <div class="text-muted text-truncate text-small">{{ note?.occurredOn | date: 'EEEE, MMM d, y, h:mm a' }}</div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="notesLoading">
      <div *ngFor="let loader of loaders" class="card-body list-item">
        <div class="skeleton w-50"></div>
        <div class="skeleton w-75"></div>
        <div class="skeleton w-35"></div>
      </div>
    </div>
  </div>
</div>
