<app-header [settings]="true">My Home</app-header>

<div>
  <div class="card">
    <div class="card-title">Recent Stats</div>
    <div class="card-body py-4" va-article="summary" va-question="Should I go through your routine for the day?">
      <div class="sr-only">
        Here's what your day looks like. You have
      </div>

      <div class="row">
        <div class="col-6 mb-3">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-info mr-3">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <div>
              <div class="h6">{{meetingCount}}</div>
              <small class="text-muted">Meetings <span class="sr-only">scheduled, </span></small>
            </div>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-danger mr-3">
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <div>
              <div class="h6">0</div>
              <small class="text-muted">Tasks <span class="sr-only">due, </span></small>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-success mr-3">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>
            <div>
              <div class="h6">{{notesData?.length || 0}}</div>
              <small class="text-muted">
                Notes <span class="sr-only">and </span></small>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-primary mr-3">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
            </div>
            <div>
              <div class="h6">2</div>
              <small class="text-muted">Messages<span class="sr-only">.</span></small>
            </div>
          </div>
        </div>

        <div *ngIf="nextMeeting" class="sr-only">
          Your next meeting for the day is scheduled at {{nextMeeting | date:'h:mm a'}}
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-title">Notes</div>
    <app-notes [tags]="tagsData" [isLoading]="notesLoading" [notes]="notesData" [error]="notesError"
      (selectNote)="onSelectNote($event)">
    </app-notes>
  </div>
</div>

<a class="btn btn-float btn-primary" routerLink="/note">
  <svg xmlns="http://www.w3.org/2000/svg" class="add-note-icon" viewBox="0 0 512 512" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" d="M256 112v288M400 256H112"></path>
  </svg>
</a>
