<app-header [back]="true" [edit]="true" [editCommand]="'edit'">Note</app-header>

<div class="card-body">
  <div *ngIf="loading">
    <div class="skeleton loading-h w-100"></div>
    <div class="skeleton loading-h w-50"></div>
    <hr>
    <div class="skeleton w-100"></div>
    <div class="skeleton w-100"></div>
    <div class="skeleton w-100"></div>
    <div class="skeleton w-35"></div>
  </div>
  <ng-container *ngIf="!loading">
    <div *ngIf="!!note?.id">
      <h1 class="h5">{{ note.title }}</h1>
      <hr>
      <p class="text-small">{{ note.description }}</p>
    </div>
  </ng-container>
</div>
